:root {
    --double-size: 6px;
    --width: 75%;
    --vh: 100%vh;
}

html {
    background-color: transparent;
    font-family: 'Source Code Pro', monospace;
    /*font-family: 'Aldrich', sans-serif;*/
}

p {
    font-family: inherit;
}

button {
    font-family: inherit;
    text-transform: uppercase;
}

div {
    font-family: inherit;
    font-size: 16px;
}

body {
    height: 100%;
}

#container {
    position: relative;
    margin: 50px auto;
    display: grid;
    border: 10px solid #000;
    border-radius: 4px;
    padding: 10px;
    width: var(--width);
    height: 75%;
    max-width: 700px;
    max-height: 90%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "csb  csb  . comp"
        ".  uf cf comp"
        "user uf  cf   ."
        "user uf  usb usb"
        "ta   ta  ta  ta"
        "ta   ta  ta  ta";
        /* csb = computer scoreboard // comp = computer avatar // user = user avatar // uf = user fight choice // cf = computer fight choice // usb = user scoreboard // ta = text area */
    column-gap: 5px;
}

#user-fighter {
    grid-area: uf;
    margin: 25px 15px 25px 15px;
}

#computer-fighter {
    grid-area: cf;
    margin: 0 15px 20px 15px;
}

#user-avatar {
    grid-area: user;
    background: url('../RPG-roshambo/assets/user-pixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#computer-avatar {
    grid-area: comp;
    background: url('../RPG-roshambo/assets/cpu-pixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rock {
    background: url('../RPG-roshambo/assets/rock-pixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background: url('../RPG-roshambo/assets/paper-pixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.scissors {
    background: url('../RPG-roshambo/assets/scissors-pixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#starter {
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    background-color: rgba(0, 0, 0, 0.98);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    place-items: center center;
}

#play-button {
    position: absolute;
    background-color: rgb(240, 240, 240);
    display: inline-block;
    border: solid rgb(255, 255, 255);
    width: auto;
    text-align: center;
    padding: .4rem 2rem;
    border-radius: 4px;
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

#play-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px -9px rgba(128,128,128,1);
    transition: .2s;
}

#play-button:active {
    transform: translateY(3px);
}

.splash-p {
    color: rgb(255, 255, 255);
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

#ko {
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    background-color: rgba(255, 255, 255, 0.98);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    place-items: center center;
}

.post-game {
    position: absolute;
    font-family: inherit;
    width: auto;
    text-align: center;
    color: #000;
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.trophy {
    height: 85%;
    width: 45%;
    margin-top: 25%;
    position: absolute;
    background: url('../RPG-roshambo/assets/trophy-pixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
}

.sad {
    height: 100%;
    width: 90%;
    position: absolute;
    background: url('../RPG-roshambo/assets/sad-pixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 2;
    grid-column: 2 / span 1;
}

#play-again {
    position: absolute;
    background-color: #d3d3d3;
    display: inline-block;
    border: solid #000;
    width: auto;
    text-align: center;
    padding: .4rem 2rem;
    border-radius: 4px;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
}

#play-again:active {
    transform: translateY(3px);
}

#play-again:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px -9px rgba(128,128,128,1);
    transition: .2s;
}

#text-area {
    display: grid;
    border: var(--double-size) double #000;
    grid-area: ta;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 4px;
}

#score {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: center;
    padding: 15px;
}

#player-selection {
    border: var(--double-size) #000;
    border-style: none none double double;
    flex-direction: column;
    grid-row: 1 / span 1;
    grid-column: 2 / -1;
    border-radius: 4px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    display: block;
    border: none;
    text-align: left;
    padding: .2rem 2rem;
    width: 100%;
    cursor: pointer;
}

.btn:active, .btn:focus, .btn.active {
    outline: none;
    outline-offset: -2px;
}

.active-button:hover {
    transform: translateX(3px);
    text-shadow: 0px 5px 15px -9px rgba(128,128,128,1);
    transition: .2s;
}

.btn:hover:before {
    position: absolute;
    border-color: transparent #000;
	border-style: solid;
	border-width: 6px 0px 6px 6px;
	height: 0px;
    width: 0px;
    content: "";
    margin: 4px 0 0 -15px;
    transition: 0.5s;
}

.btn:focus:after {
    position: absolute;
    border-color: transparent rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 6px 6px 6px 0px;
	height: 0px;
    width: 0px;
    content: "";
    margin: 4px 0 0 7px;
}

#round-result {
    align-self: center;
    justify-self: center;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    padding: 15px;
}
#user-score-balls {
    margin: 10px;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    grid-area: usb;
    align-self: center;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
}

#cpu-score-balls {
    margin: 10px;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    grid-area: csb;
    align-self: center;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
}

.ball {
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(124, 124, 124, 0.5);
    display: inline-block;
    margin-bottom: .2rem;
}

.win-round {
    background-color: rgba(51, 161, 0, 0.75);
}